.carousel_wrapper {
    margin-top: 30px;
    margin-bottom: 130px;
}

.containerSwitch {
    position: relative
}

.container {
    position: relative;
    display: flex;
}

.select {
    position: absolute;
    top: -4rem;
    right: 8rem;
    padding: 0.4rem;
    border-radius: 5px;
}

.switch {
    position: absolute;
    right: 2rem;
    top: -4rem;

    input {
        display: none;
    }
    
    label {
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;
        
        .left {
            padding: 5px 10px;
            border: 1px solid white;
            color: white;
            background-color: transparent;
            border-radius: 5px 0 0 5px;
            font-size: 16px;
            display: flex;
        }

        .right {
            padding: 5px 10px;
            border: 1px solid white;
            background-color: transparent;
            color: white;
            border-radius: 0 5px 5px 0;
            font-size: 16px;
            display: flex;
        }
    
        .active {
            background-color: white;
            color: #101010;
        }
    }
    
}

.movies__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin: 2rem 0;
}