.header {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100vw;
    z-index: 0;

    nav ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        color: #101010;
        margin: 2rem;

        li {
            cursor: pointer;
            &:hover {
                color: #434343;
                text-decoration: underline;
            }
        }
    }
}

.header.light {
    nav ul {
        color: white;

        li {
            &:hover {
                color: #f0f0f0;
            }
        }
    }
}

.logo {
    margin: .5rem 1rem;
}