.carousel_wrapper {
    position: relative;
    padding: 0 2rem;
    z-index: 0;

    h2 {
        color: white;
        margin: 0 0 20px 0;
    }

    .keen-slider {
        position: relative;
        z-index: 1;
    }
}

.ranking {
    display: flex;
    gap: 4rem;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 0 6rem 0;
    margin: 2rem 0;
}