.carousel_wrapper {
  margin-top: 30px;
  margin-bottom: 130px;
}

.showcase__header {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.containerShowcase {
  position: relative;
}

.container {
  position: relative;
  display: flex;
}

.filter__toggle {
  display: none;
}

.switch {
  input {
    display: none;
  }

  label {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    .left {
      padding: 5px 10px;
      border: 1px solid white;
      color: white;
      background-color: transparent;
      border-radius: 5px 0 0 5px;
      font-size: 16px;
      display: flex;
    }

    .right {
      padding: 5px 10px;
      border: 1px solid white;
      background-color: transparent;
      color: white;
      border-radius: 0 5px 5px 0;
      font-size: 16px;
      display: flex;
    }

    .active {
      background-color: white;
      color: #101010;
    }
  }
}

.movies__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
  width: calc(100vw - 350px);
}

.grid__layout {
  display: flex;
}

@media screen and (max-width: 512px) {
  .carousel_wrapper {
    margin-bottom: 300px;
  }

  .movies__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 190px;
  }

  .sort select {
    position: relative;
    top: 0;
    right: 0;
    padding: 0.4rem;
    border-radius: 5px;
  }

  .switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

@media screen and (max-width: 1200px) {
  .carousel_wrapper {
    margin-bottom: 170px;
  }

  .showcase__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2rem;
    width: 100%;
  }

  .movies__grid {
    width: 100%;
  }

  .filter__toggle {
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #101010;
    border: 1px solid white;

    button {
      background-color: transparent;
      border: none;
    }
  }
}
